*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
build
Debug
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d
*.img
.config
packages
cconfig.h
GPUCache

#cscope files
cscope.*
ncscope.*

#ctag files
tags

.vscode/
romfs.c
testcases/
__pycache__/
*.dblite

userapps/root/bin/

k_autoconf_comm.h
rtconfig.h

rtthread.bin
rtthread.elf
rtthread.map

link_stacksize.lds
kconfig-mconf
