menu "Drivers Configuration"

    menu "InterDriver"
        config RT_USING_ADC
            bool "Using ADC device drivers"
            default n

        menuconfig RT_USING_CIPHER
            bool "Enable CIPHER"
            default n

            if RT_USING_CIPHER
                config RT_USING_AES
                    bool "Use HW AES accelerator"
                    default n
                config RT_USING_HWHASH
                    bool "Use HW SHA256 accelerator"
                    default n
                config RT_USING_SM4
                    bool "Use HW SM4 accelerator"
                    default n
            endif

        config RT_USING_GNNE
            bool "Enable GNNE driver for ai"
            default y

        config RT_USING_GPIO
            bool "Enable GPIO Driver"
            default n

        config RT_USING_HARDLOCK
            bool "Enabel HardLock driver"
            default n
                
        menuconfig RT_USING_HWTIMER
            bool "Using hardware timer device drivers"
            default n
            
            if RT_USING_HWTIMER
                config RT_USING_HW_TIMER0
                    bool "Enable HW Timer0"
                    default n
                config RT_USING_HW_TIMER1
                    bool "Enable HW Timer1"
                    default n
                config RT_USING_HW_TIMER2
                    bool "Enable HW Timer2"
                    default n
                config RT_USING_HW_TIMER3
                    bool "Enable HW Timer3"
                    default n
                config RT_USING_HW_TIMER4
                    bool "Enable HW Timer4"
                    default n
                config RT_USING_HW_TIMER5
                    bool "Enable HW Timer5"
                    default n
            endif

        menuconfig RT_USING_I2C
            bool "Enable I2C"
            default n

            if RT_USING_I2C
                config RT_USING_I2C0
                    bool "Enable I2C0"
                    default n
                config RT_USING_I2C1
                    bool "Enable I2C1"
                    default n
                config RT_USING_I2C2
                    bool "Enable I2C2"
                    default n
                config RT_USING_I2C3
                    bool "Enable I2C3"
                    default n
                config RT_USING_I2C4
                    bool "Enable I2C4"
                    default n
            endif

        config RT_USING_SPI
            bool "Enable SPI Driver"
            default n

        config RT_USING_PWM
            bool "Using PWM device drivers"
            default n

        config RT_USING_RTC_PMU
            bool "Using RTC device drivers"
            default n

        menuconfig RT_USING_SDIO
            bool "Enable SDIO Driver"
            default n

            if RT_USING_SDIO
                config RT_USING_SDIO0
                    bool "Enable SDIO0"
                    default n

                if RT_USING_SDIO0
                    config RT_SDIO0_EMMC
                        bool "SDIO0 device is eMMC"
                        default n
                    config RT_SDIO0_1V8
                        bool "SDIO0 device is 1.8V"
                        default n
                endif

                config RT_USING_SDIO1
                    bool "Enable SDIO1"
                    default n

                choice SDCARD_ON_SDIO_DEV
                    bool "SdCard is on SDIOx"

                    config SDCARD_ON_SDIO_DEV0
                        bool "SdCard is on SDIO0"

                    config SDCARD_ON_SDIO_DEV1
                        bool "SdCard is on SDIO1"
                endchoice

                config SDCARD_ON_SDIO_DEV
                    int 
                    default 0 if SDCARD_ON_SDIO_DEV0
                    default 1 if SDCARD_ON_SDIO_DEV1
            endif

            config RT_USING_SPI
                bool "Enable SPI1 device driver"
                default n
            
            config RT_USING_TS
                bool "Enable Tsensor device driver"
                default n
            
            menuconfig RT_USING_CANAAN_UART
                bool "Enable Uart Canaan device model driver"
                default n
                
                if RT_USING_CANAAN_UART
                    config RT_USING_UART_CANAAN_1
                        bool "Enable Uart Canaan device 1"
                        default n
                    config RT_USING_UART_CANAAN_2
                        bool "Enable Uart Canaan device 2"
                        default n
                    config RT_USING_UART_CANAAN_3
                        bool "Enable Uart Canaan device 3"
                        default n
                    config RT_USING_UART_CANAAN_4
                        bool "Enable Uart Canaan device 4"
                        default n
                endif

            config RT_USING_WDT
                bool "Using Watch Dog device drivers"
                default n
    endmenu

    menu "Ext Driver"
        menuconfig RT_USING_CYW43XX
            bool "Enable CYW43XX WiFi Driver"
            default n

            if RT_USING_CYW43XX
                choice CYW43XX_SDIO_DEV
                    bool "CYW43XX Wifi Use SDIO Device"

                    config CYW43XX_SDIO_DEV0
                        bool "Using SDIO0"
                    config CYW43XX_SDIO_DEV1
                        bool "Using SDIO1"
                endchoice

                config CYW43XX_SDIO_DEV
                    int
                    default 0 if CYW43XX_SDIO_DEV0
                    default 1 if CYW43XX_SDIO_DEV1

                config CYW43XX_THREAD_PRIORITY
                    int
                    default 10
                config CYW43XX_THREAD_STACK_SIZE
                    int
                    default 4096
            endif

        menuconfig RT_USING_EEPROM
            bool "Enable EEPROM over GPIO Driver"
            default n

            if RT_USING_EEPROM


            endif
            
        menuconfig RT_USING_REALTEK
            bool "Enable Realtek WiFi Driver"
            default n

            if RT_USING_REALTEK
                choice REALTEK_SDIO_DEV
                    bool "Realtek Wifi Use SDIO Device"

                    config REALTEK_SDIO_DEV0
                        bool "Using SDIO0"
                    config REALTEK_SDIO_DEV1
                        bool "Using SDIO1"
                endchoice

                config REALTEK_SDIO_DEV
                    int
                    default 0 if REALTEK_SDIO_DEV0
                    default 1 if REALTEK_SDIO_DEV1
            endif

        menuconfig RT_USING_REGULATOR
            bool "Enable regulator Driver"
            default n
            depends on MPP_ENABLE_PM

            if RT_USING_REGULATOR
                config RT_USING_REGULATOR_TPS6286X
                    bool "Use TPS6286X"
                    default n
            endif

        if RT_USING_TOUCH
            menuconfig RT_USING_TOUCH_FT5316
                bool "Enable Touch FT5316"
                default n

                if RT_USING_TOUCH_FT5316
                    config TOUCH_FT5316_I2C_DEV
                        string "I2C Device name"
                        default "i2c3"

                    config TOUCH_FT5316_I2C_ADDR
                        hex
                        default 0x38
                endif
        endif

        menuconfig RT_USING_WS2812
            bool "Enable WS2812"
            default n

            if RT_USING_WS2812
                choice WS2812_USE_DRV
                    bool "WS2812 Use Drive mode"
                    default WS2812_USE_DRV_GPIO

                    config WS2812_USE_DRV_GPIO
                        bool "Using GPIO"
                    config WS2812_USE_DRV_I2S
                        bool "Using I2S"
                endchoice

                if WS2812_USE_DRV_GPIO
                    config WS2812_GPIO_PIN_NUM
                        int "WS2812 GPIO Output Pin"
                        default 35
                endif
            endif
    endmenu
endmenu
